{% load static %}

<div class="wrapper">
    <header class="header">
        <div class="header_logo_content">
            <img src="{% static 'assets/logo_sectrans.png' %}" alt="logo_Sectrans">
        </div>
        <div class="header_page_top">
            <ul class="header_page_top_navbar">
                <li class="header_page_top_navbar_item"><a href="#">Listar</a></li>
                <li class="header_page_top_navbar_item"><a href="#">Adicionar</a></li>
                <li class="header_page_top_navbar_item"><a href="#">Excluir</a></li>
                <li class="header_page_top_navbar_item"><a href="#">Listar</a></li>
            </ul>
        </div>
    </header>
