{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="principal">
    <div class="principal_conteudo_empresas">
        <h2>Lista de Empresas</h2>
        <div class="empresas_lista">
            {% for empresa in empresas %}
            <div class="empresa_item">
                <div class="empresa_info">
                    <span class="empresa_nome">{{ empresa.nome }}</span>
                </div>
                
                <!-- Lista de servidores da empresa -->
                <div class="servidores_lista">
                    <div class="servidores_status">
                        {% for servidor in empresa.servidor_set.all %}
                        <div class="servidor_item">
                            <!-- Bolinha de status do servidor -->
                            <div class="empresa_status {% if servidor.vpn_status %}online{% else %}offline{% endif %}">
                                <span class="servidor_nome">{{ servidor.nome }}</span>
                            </div>
                        </div>
                        {% empty %}
                        <p>Sem servidores cadastrados</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>



{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/empresas.css' %}">
{% endblock %}