{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="principal">
    <div class="principal_conteudo_empresas">
        <h2>Lista de Empresas</h2>
        <div class="empresas_lista">
            {% for empresa in empresas %}
            <div class="empresa_item">
                <div class="empresa_info">
                    <span class="empresa_nome">{{ empresa.nome }}</span>
                    <span class="empresa_razao_social">{{ empresa.vpn }}</span>
                </div>
                <div class="empresa_status {% if empresa.ativa %}online{% else %}offline{% endif %}"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{% endblock %}