{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="principal">
    <div class="menu-container">
        <h1>Menu Principal</h1>
        <a href="/empresas" class="menu-item">Empresas</a>
        <a href="/redes" class="menu-item">Redes</a>
        <a href="/carros" class="menu-item">Carros</a>
        <a href="/modelo-equipamento" class="menu-item">Modelo de Equipamento</a>
        <a href="/pedido" class="menu-item">Gravação Mídia</a>
    </div>
</main>

{% endblock %}