{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Relatório de Descarregamento{% endblock %}

{% block content %}
<div class="full-page-card">
    <div class="card-body">
        <!-- Seletores -->
        <div class="selectors">
            <div class="selector">
                <label for="empresa">Empresa:</label>
                <select id="empresa">
                    <option value="" disabled selected >Selecione a empresa</option>
                    {% for empresa in empresas %}
                        <option value="{{ empresa.id }}">{{ empresa.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="selector">
                <label for="camera">Câmera:</label>
                <select id="camera">
                    <option value="" disabled selected  >Selecione a câmera</option>
                </select>
            </div>
            <div class="selector">
                <label for="data-inicio">De:</label>
                <input type="date" id="data-inicio">
            </div>
            <div class="selector">
                <label for="data-fim">Até:</label>
                <input type="date" id="data-fim">
            </div>
            <div class="selectors-button">
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-save"></i> Ir
                </button>
            </div>
        </div>

        <!-- Status Cards -->
        <div class="status-cards">
            <div class="status-card card-success">
                <div class="icon"><i class="fas fa-sync-alt"></i></div>
                <div class="percentage">100%</div>
                <div class="label">VÍDEOS TRANSFERIDOS</div>
            </div>
            <div class="status-card card-warning">
                <div class="icon"><i class="fas fa-exclamation-circle"></i></div>
                <div class="percentage">68%</div>
                <div class="label">VEÍCULOS EM ALERTA</div>
            </div>
            <div class="status-card card-info">
                <div class="icon"><i class="fas fa-wifi"></i></div>
                <div class="percentage">98%</div>
                <div class="label">VEÍCULOS COM CONEXÃO</div>
            </div>
        </div>

        <!-- Tabela -->
        <div class="table-responsive">
            <table class="table" id="relatorioCoresTabela" >
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
                <tbody>
                    <!-- Linhas de dados -->
                    <tr>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/relatorio_cores.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'scripts/relatorio_cores.js' %}"></script>
{% endblock %}
