<!-- templates/selecionar_empresa.html -->
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravação de Mídia</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header_logo_content">
                <img src="{% static 'assets/logo_sectrans.png' %}" alt="logo_Sectrans">
            </div>
            <div class="header_page_top">
                <ul class="header_page_top_navbar">
                    <li class="header_page_top_navbar_item"><a href="#">Home</a></li>
                    <li class="header_page_top_navbar_item"><a href="#">Gravação</a></li>
                    <li class="header_page_top_navbar_item"><a href="#">Contact</a></li>
                    <li class="header_page_top_navbar_item"><a href="#">About</a></li>
                </ul>
            </div>
        </header>

        <main class="principal">
            <div class="principal_conteudo_gravacao">
                <h2>Gravação de Mídia</h2><br>
                <label class="principal_conteudo_gravacao_labbels" for="empresas">Selecione uma empresa:</label>
                <select class="principal_conteudo_gravacao_selects" id="empresas" onchange="listarCarros(this.value)">
                    <option value="">Selecione a Empresa</option>
                    {% for empresa in empresas %}
                        <option value="{{ empresa.id }}">{{ empresa.nome }}</option>
                    {% endfor %}
                </select><br>

                <label class="principal_conteudo_gravacao_labbels" for="carros">Selecione um carro:</label>
                <select class="principal_conteudo_gravacao_selects" id="carros" disabled></select><br>

                <label class="principal_conteudo_gravacao_labbels" for="modelo_equipamento">Modelo de Equipamento:</label>
                <select class="principal_conteudo_gravacao_selects" id="modelo_equipamento" disabled>
                    <option value="">Selecione um modelo</option>
                </select><br>

                <button class="principal_conteudo_gravacao_botao" onclick="solicitarGravacao()">Solicitar Gravação</button>
            </div>
        </main>

        <footer class="footer">
            <p>&copy; 2024 Sectrans. Todos os direitos reservados.</p>
        </footer>
    </div>
    <script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>
