
:root {
    --cor-principal: #f34d25;
    --cor-secundaria: #c5c5c5;
    --cor-terciaria: #e9e9e9;
    --cor-hover-menu: #495050;
}

/* Configurações gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor-secundaria);
    margin: 0;
    padding: 0;
    color: var(--cor-hover-menu);
    min-height: 100vh; /* altura mínima da página */
    display: flex;
    flex-direction: column; /* flexbox para o layout da página */
}

main {
    flex: 1; /* faz o conteúdo principal ocupar o espaço restante */
}

/* Cabeçalho */
.header {
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo_content img {
    height: 50px;
    background-color: var(--cor-terciaria);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header_page_top_navbar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header_page_top_navbar_item a {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: bold;
    transition: color 0.3s ease;
}

.header_page_top_navbar_item a:hover {
    color: var(--cor-hover-menu);
}

/* Principal */
.principal {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    background-color: var(--cor-terciaria);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.menu-container h1 {
    color: var(--cor-hover-menu);
    margin-bottom: 20px;
}

.menu-item {
    display: block;
    color:var(--cor-terciaria);
    text-decoration: none;
    background-color: var(--cor-principal);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #777;
}

.principal_conteudo_gravacao {
    background-color: var(--cor-terciaria);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    height: 550px;
}

.principal_conteudo_gravacao h2 {
    color: var(--cor-principal);
    margin-bottom: 20px;
    text-align: center;
}

.principal_conteudo_gravacao_labbels {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-hover-menu);
}

.principal_conteudo_gravacao_selects {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid var(--cor-hover-menu);
    font-size: 16px;
    background-color: var(--cor-terciaria);
}

.principal_conteudo_gravacao_botao {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(0.8);
    }
}
  
.principal_conteudo_gravacao_botao:hover {
    animation: pulse 2s infinite;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 5px;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    width: 100%;
    position: relative; /* Remova o fixed */
    bottom: 0;
}
