:root {
    --cor-principal: #f34d25;
    --cor-secundaria: #f5f5f5;
    --cor-terciaria: #ffffff;
    --cor-hover-menu: #495050;
    --cor-texto: #333333;
    --sombra-padrao: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --transicao-padrao: all 0.3s ease;
    --borda-radius: 15px;
}